.term {
  margin: auto;
  margin-top: 50px;
  width: 820px;
  height: 462px;
  background: url("./css_sprites.png");
  animation-name: sprite;
  animation-duration: 1.0s;
  animation-timing-function: steps(6);
  animation-iteration-count: infinite;

}


@keyframes sprite {
  from {background-position: 0px;}
  to { background-position: -4920px;}
}